@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app is built using ASP.NET Core(MVC). In this application there is list of quetions and Answers regarding ASP.NET</p>
    <p>You can also search a question just by entering a word.</p>
    <p>User needs to create account to perform actions such as create,edit, and delete.</p>
    <br />
    <br />
    <img align="middle" src="Image/R.png" />
</div>

    